<a href="https://colab.research.google.com/github/jesvin1/Basics/blob/master/PCR_MaxPain_high_OI_change_in_OI_nifty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mounting google drive to read the downloaded nse website option chain

In [0]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!cd "/content/drive/My Drive/Colab Notebooks/"

In [0]:
from bs4 import BeautifulSoup
import codecs
import pandas as pd
file="/content/drive/My Drive/Colab Notebooks/NSE - National Stock Exchange of India Ltd.html"

In [0]:
page = open(file,encoding='latin-1')
soup = BeautifulSoup(page, "html.parser")

In [0]:
#soup = BeautifulSoup(HtmlFile.read(), 'html.parser')
#print (soup.prettify())

table_it = soup.find_all("div", {"class": "opttbldata"})
table_cls_1 = soup.find_all(id='octable')

#print (table_it)
#print (table_cls_1)

In [0]:
table_cls_2 = soup.find(id="octable")
req_row = table_cls_2.find_all('tr')
col=3
strike_price_list = []
calloi_list=[]
putoi_list=[]
for row_number, tr_nos in enumerate(req_row):
  # This ensures that we use only the rows with values
  if row_number <= 1 or row_number == len(req_row) - 1:
    continue

  td_columns = tr_nos.find_all('td')
  strike_price = int(float(BeautifulSoup(str(td_columns[11]), 'html.parser').get_text()))
  calloi = int(float(BeautifulSoup((str(td_columns[1]).replace('-','0').replace(',', '')), 'html.parser').get_text()))
  putoi = int(float(BeautifulSoup((str(td_columns[21]).replace('-','0').replace(',', '')), 'html.parser').get_text()))
  strike_price_list.append(strike_price)
  calloi_list.append(calloi)
  putoi_list.append(putoi)
  #print(str(td_columns[1]).replace(',', ''))

df = pd.DataFrame(list(zip(strike_price_list,calloi_list,putoi_list)),columns=['strik','calloi','putoi'])
df.head()

   strik  calloi   putoi
0   8100    2700  281925
1   8150       0       0
2   8200     375    1875
3   8250       0       0
4   8300   84450  594000

In [0]:
df['helpcall'] = df['strik'] - df.loc[0,'strik']
df['helpput'] = df['strik'].iloc[-1] - df['strik']

In [37]:
strike=[7000,7100,7200,7300,7400,7500,7600,7700,7800,7900,8000,8100,8200,8300,8400,8500,8600]
calloi=[1404300,335700,482100,422475,963900,999975,785550,1823400,3448575,5367450,6510975,5900325,5113350,3844500,2135625,2252250,1083750]
putoi=[4087050,1029150,2977875,1975650,2336700,4548450,3690900,5783025,4864125,2559375,1447125,310500,248775,355725,255525,488475,58500]
frame={'strike':strike,'calloi':calloi,'putoi':putoi}
dft=pd.DataFrame(frame)

dft['helpcall'] = dft['strike'] - dft.loc[0,'strike']
dft['helpput'] = dft['strike'].iloc[-1] - dft['strike']

j = 0
a = 0
'''for i in range(0,len(dft)):
  a = 0
  b = 0
  for j in range(0,i):
    print(i,j,dft['putoi'].iloc[j],dft['helpput'].iloc[i-j],b)
    a = a + dft['calloi'].iloc[j] * dft['helpcall'].iloc[i-j]
    b = b + dft['putoi'].iloc[j] * dft['helpput'].iloc[i-j]
    #print(j)'''
for i in range(len(dft)-1,0,-1):
  b = 0
  for j in range(0,i+1):
    #print(i,j)
    print(i,j,dft['putoi'].iloc[j-i],dft['helpcall'].iloc[-j],b)
    b = b + dft['putoi'].iloc[j-i] * dft['helpcall'].iloc[-j]
    #print(j)

  print('######')
  print(b)
#dft.head()

16 0 1029150 0 0
16 1 2977875 1600 0
16 2 1975650 1500 4764600000
16 3 2336700 1400 7728075000
16 4 4548450 1300 10999455000
16 5 3690900 1200 16912440000
16 6 5783025 1100 21341520000
16 7 4864125 1000 27702847500
16 8 2559375 900 32566972500
16 9 1447125 800 34870410000
16 10 310500 700 36028110000
16 11 248775 600 36245460000
16 12 355725 500 36394725000
16 13 255525 400 36572587500
16 14 488475 300 36674797500
16 15 58500 200 36821340000
16 16 4087050 100 36833040000
######
37241745000
15 0 2977875 0 0
15 1 1975650 1600 0
15 2 2336700 1500 3161040000
15 3 4548450 1400 6666090000
15 4 3690900 1300 13033920000
15 5 5783025 1200 17832090000
15 6 4864125 1100 24771720000
15 7 2559375 1000 30122257500
15 8 1447125 900 32681632500
15 9 310500 800 33984045000
15 10 248775 700 34232445000
15 11 355725 600 34406587500
15 12 255525 500 34620022500
15 13 488475 400 34747785000
15 14 58500 300 34943175000
15 15 4087050 200 34960725000
######
35778135000
14 0 1975650 0 0
14 1 2336700 1600 0
14 2 4548450 1500 3738720000
14 3 3690900 1400 10561395000
14 4 5783025 1300 15728655000
14 5 4864125 1200 23246587500
14 6 2559375 1100 29083537500
14 7 1447125 1000 31898850000
14 8 310500 900 33345975000
14 9 248775 800 33625425000
14 10 355725 700 33824445000
14 11 255525 600 34073452500
14 12 488475 500 34226767500
14 13 58500 400 34471005000
14 14 4087050 300 34494405000
######
35720520000
13 0 2336700 0 0
13 1 4548450 1600 0
13 2 3690900 1500 7277520000
13 3 5783025 1400 12813870000
13 4 4864125 1300 20910105000
13 5 2559375 1200 27233467500
13 6 1447125 1100 30304717500
13 7 310500 1000 31896555000
13 8 248775 900 32207055000
13 9 355725 800 32430952500
13 10 255525 700 32715532500
13 11 488475 600 32894400000
13 12 58500 500 33187485000
13 13 4087050 400 33216735000
######
34851555000
12 0 4548450 0 0
12 1 3690900 1600 0
12 2 5783025 1500 5905440000
12 3 4864125 1400 14579977500
12 4 2559375 1300 21389752500
12 5 1447125 1200 24716940000
12 6 310500 1100 26453490000
12 7 248775 1000 26795040000
12 8 355725 900 27043815000
12 9 255525 800 27363967500
12 10 488475 700 27568387500
12 11 58500 600 27910320000
12 12 4087050 500 27945420000
######
29988945000
11 0 3690900 0 0
11 1 5783025 1600 0
11 2 4864125 1500 9252840000
11 3 2559375 1400 16549027500
11 4 1447125 1300 20132152500
11 5 310500 1200 22013415000
11 6 248775 1100 22386015000
11 7 355725 1000 22659667500
11 8 255525 900 23015392500
11 9 488475 800 23245365000
11 10 58500 700 23636145000
11 11 4087050 600 23677095000
######
26129325000
10 0 5783025 0 0
10 1 4864125 1600 0
10 2 2559375 1500 7782600000
10 3 1447125 1400 11621662500
10 4 310500 1300 13647637500
10 5 248775 1200 14051287500
10 6 355725 1100 14349817500
10 7 255525 1000 14741115000
10 8 488475 900 14996640000
10 9 58500 800 15436267500
10 10 4087050 700 15483067500
######
18344002500
9 0 4864125 0 0
9 1 2559375 1600 0
9 2 1447125 1500 4095000000
9 3 310500 1400 6265687500
9 4 248775 1300 6700387500
9 5 355725 1200 7023795000
9 6 255525 1100 7450665000
9 7 488475 1000 7731742500
9 8 58500 900 8220217500
9 9 4087050 800 8272867500
######
11542507500
8 0 2559375 0 0
8 1 1447125 1600 0
8 2 310500 1500 2315400000
8 3 248775 1400 2781150000
8 4 355725 1300 3129435000
8 5 255525 1200 3591877500
8 6 488475 1100 3898507500
8 7 58500 1000 4435830000
8 8 4087050 900 4494330000
######
8172675000
7 0 1447125 0 0
7 1 310500 1600 0
7 2 248775 1500 496800000
7 3 355725 1400 869962500
7 4 255525 1300 1367977500
7 5 488475 1200 1700160000
7 6 58500 1100 2286330000
7 7 4087050 1000 2350680000
######
6437730000
6 0 310500 0 0
6 1 248775 1600 0
6 2 355725 1500 398040000
6 3 255525 1400 931627500
6 4 488475 1300 1289362500
6 5 58500 1200 1924380000
6 6 4087050 1100 1994580000
######
6490335000
5 0 248775 0 0
5 1 355725 1600 0
5 2 255525 1500 569160000
5 3 488475 1400 952447500
5 4 58500 1300 1636312500
5 5 4087050 1200 1712362500
######
6616822500
4 0 355725 0 0
4 1 255525 1600 0
4 2 488475 1500 408840000
4 3 58500 1400 1141552500
4 4 4087050 1300 1223452500
######
6536617500
3 0 255525 0 0
3 1 488475 1600 0
3 2 58500 1500 781560000
3 3 4087050 1400 869310000
######
6591180000
2 0 488475 0 0
2 1 58500 1600 0
2 2 4087050 1500 93600000
######
6224175000
1 0 58500 0 0
1 1 4087050 1600 0
######
6539280000

In [0]:
df.head()

   strik  calloi   putoi  helpcall  helpput
0   8100    2700  281925         0     6600
1   8150       0       0        50     6550
2   8200     375    1875       100     6500
3   8250       0       0       150     6450
4   8300   84450  594000       200     6400

In [0]:
df.tail()

     strik  calloi  putoi  helpcall  helpput
120  14300       0      0      6200      400
121  14400    1800      0      6300      300
122  14500   46650  26100      6400      200
123  14600       0      0      6500      100
124  14700   11700      0      6600        0

In [0]:
df.to_excel('output.xlsx')

In [0]:
from google.colab import files
files.download('output.xlsx')