<a href="https://colab.research.google.com/github/jesvin1/Basics/blob/master/PCR_MaxPain_high_OI_change_in_OI_nifty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mounting google drive to read the downloaded nse website option chain

In [0]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!cd "/content/drive/My Drive/Colab Notebooks/"

In [0]:
from bs4 import BeautifulSoup
import codecs
import pandas as pd
file="/content/drive/My Drive/Colab Notebooks/NSE - National Stock Exchange of India Ltd.html"

In [0]:
page = open(file,encoding='latin-1')
soup = BeautifulSoup(page, "html.parser")

In [0]:
#soup = BeautifulSoup(HtmlFile.read(), 'html.parser')
#print (soup.prettify())

table_it = soup.find_all("div", {"class": "opttbldata"})
table_cls_1 = soup.find_all(id='octable')

#print (table_it)
#print (table_cls_1)

In [0]:
table_cls_2 = soup.find(id="octable")
req_row = table_cls_2.find_all('tr')
col=3
strike_price_list = []
calloi_list=[]
putoi_list=[]
for row_number, tr_nos in enumerate(req_row):
  # This ensures that we use only the rows with values
  if row_number <= 1 or row_number == len(req_row) - 1:
    continue

  td_columns = tr_nos.find_all('td')
  strike_price = int(float(BeautifulSoup(str(td_columns[11]), 'html.parser').get_text()))
  calloi = int(float(BeautifulSoup((str(td_columns[1]).replace('-','0').replace(',', '')), 'html.parser').get_text()))
  putoi = int(float(BeautifulSoup((str(td_columns[21]).replace('-','0').replace(',', '')), 'html.parser').get_text()))
  strike_price_list.append(strike_price)
  calloi_list.append(calloi)
  putoi_list.append(putoi)
  #print(str(td_columns[1]).replace(',', ''))

df = pd.DataFrame(list(zip(strike_price_list,calloi_list,putoi_list)),columns=['strik','calloi','putoi'])
df.head()

   strik  calloi   putoi
0   8100    2700  281925
1   8150       0       0
2   8200     375    1875
3   8250       0       0
4   8300   84450  594000

In [0]:
df['helpcall'] = df['strik'] - df.loc[0,'strik']
df['helpput'] = df['strik'].iloc[-1] - df['strik']

In [14]:
strike=[7000,7100,7200,7300,7400,7500,7600,7700,7800,7900,8000,8100,8200,8300,8400,8500,8600]
calloi=[1404300,335700,482100,422475,963900,999975,785550,1823400,3448575,5367450,6510975,5900325,5113350,3844500,2135625,2252250,1083750]
putoi=[4087050,1029150,2977875,1975650,2336700,4548450,3690900,5783025,4864125,2559375,1447125,310500,248775,355725,255525,488475,58500]
frame={'strike':strike,'calloi':calloi,'putoi':putoi}
dft=pd.DataFrame(frame)

dft['helpcall'] = dft['strike'] - dft.loc[0,'strike']
dft['helpput'] = dft['strike'].iloc[-1] - dft['strike']
j = 0
a = 0
for i in range(0,len(dft)):
  a = 0
  b = 0
  for j in range(0,i):
    #print(i,j,dft['putoi'].iloc[j],dft['helpput'].iloc[i-j],b)
    a = a + dft['calloi'].iloc[j] * dft['helpcall'].iloc[i-j]
    #print(j)
for i in range(len(dft)-1,0,-1):
  b = 0
  for j in range(i,0,-1):
    #print(i,j)
    print(i,j,dft['putoi'].iloc[i-j],dft['helpput'].iloc[j],b)
    b = b + dft['putoi'].iloc[i-j] * dft['helpput'].iloc[j]
    #print(j)

  print('######')
  #print(b)
#dft.tail()

16 16 4087050 0 0
16 15 1029150 100 0
16 14 2977875 200 102915000
16 13 1975650 300 698490000
16 12 2336700 400 1291185000
16 11 4548450 500 2225865000
16 10 3690900 600 4500090000
16 9 5783025 700 6714630000
16 8 4864125 800 10762747500
16 7 2559375 900 14654047500
16 6 1447125 1000 16957485000
16 5 310500 1100 18404610000
16 4 248775 1200 18746160000
16 3 355725 1300 19044690000
16 2 255525 1400 19507132500
16 1 488475 1500 19864867500
######
15 15 4087050 100 0
15 14 1029150 200 408705000
15 13 2977875 300 614535000
15 12 1975650 400 1507897500
15 11 2336700 500 2298157500
15 10 4548450 600 3466507500
15 9 3690900 700 6195577500
15 8 5783025 800 8779207500
15 7 4864125 900 13405627500
15 6 2559375 1000 17783340000
15 5 1447125 1100 20342715000
15 4 310500 1200 21934552500
15 3 248775 1300 22307152500
15 2 355725 1400 22630560000
15 1 255525 1500 23128575000
######
14 14 4087050 200 0
14 13 1029150 300 817410000
14 12 2977875 400 1126155000
14 11 1975650 500 2317305000
14 10 2336700 600 3305130000
14 9 4548450 700 4707150000
14 8 3690900 800 7891065000
14 7 5783025 900 10843785000
14 6 4864125 1000 16048507500
14 5 2559375 1100 20912632500
14 4 1447125 1200 23727945000
14 3 310500 1300 25464495000
14 2 248775 1400 25868145000
14 1 355725 1500 26216430000
######
13 13 4087050 300 0
13 12 1029150 400 1226115000
13 11 2977875 500 1637775000
13 10 1975650 600 3126712500
13 9 2336700 700 4312102500
13 8 4548450 800 5947792500
13 7 3690900 900 9586552500
13 6 5783025 1000 12908362500
13 5 4864125 1100 18691387500
13 4 2559375 1200 24041925000
13 3 1447125 1300 27113175000
13 2 310500 1400 28994437500
13 1 248775 1500 29429137500
######
12 12 4087050 400 0
12 11 1029150 500 1634820000
12 10 2977875 600 2149395000
12 9 1975650 700 3936120000
12 8 2336700 800 5319075000
12 7 4548450 900 7188435000
12 6 3690900 1000 11282040000
12 5 5783025 1100 14972940000
12 4 4864125 1200 21334267500
12 3 2559375 1300 27171217500
12 2 1447125 1400 30498405000
12 1 310500 1500 32524380000
######
11 11 4087050 500 0
11 10 1029150 600 2043525000
11 9 2977875 700 2661015000
11 8 1975650 800 4745527500
11 7 2336700 900 6326047500
11 6 4548450 1000 8429077500
11 5 3690900 1100 12977527500
11 4 5783025 1200 17037517500
11 3 4864125 1300 23977147500
11 2 2559375 1400 30300510000
11 1 1447125 1500 33883635000
######
10 10 4087050 600 0
10 9 1029150 700 2452230000
10 8 2977875 800 3172635000
10 7 1975650 900 5554935000
10 6 2336700 1000 7333020000
10 5 4548450 1100 9669720000
10 4 3690900 1200 14673015000
10 3 5783025 1300 19102095000
10 2 4864125 1400 26620027500
10 1 2559375 1500 33429802500
######
9 9 4087050 700 0
9 8 1029150 800 2860935000
9 7 2977875 900 3684255000
9 6 1975650 1000 6364342500
9 5 2336700 1100 8339992500
9 4 4548450 1200 10910362500
9 3 3690900 1300 16368502500
9 2 5783025 1400 21166672500
9 1 4864125 1500 29262907500
######
8 8 4087050 800 0
8 7 1029150 900 3269640000
8 6 2977875 1000 4195875000
8 5 1975650 1100 7173750000
8 4 2336700 1200 9346965000
8 3 4548450 1300 12151005000
8 2 3690900 1400 18063990000
8 1 5783025 1500 23231250000
######
7 7 4087050 900 0
7 6 1029150 1000 3678345000
7 5 2977875 1100 4707495000
7 4 1975650 1200 7983157500
7 3 2336700 1300 10353937500
7 2 4548450 1400 13391647500
7 1 3690900 1500 19759477500
######
6 6 4087050 1000 0
6 5 1029150 1100 4087050000
6 4 2977875 1200 5219115000
6 3 1975650 1300 8792565000
6 2 2336700 1400 11360910000
6 1 4548450 1500 14632290000
######
5 5 4087050 1100 0
5 4 1029150 1200 4495755000
5 3 2977875 1300 5730735000
5 2 1975650 1400 9601972500
5 1 2336700 1500 12367882500
######
4 4 4087050 1200 0
4 3 1029150 1300 4904460000
4 2 2977875 1400 6242355000
4 1 1975650 1500 10411380000
######
3 3 4087050 1300 0
3 2 1029150 1400 5313165000
3 1 2977875 1500 6753975000
######
2 2 4087050 1400 0
2 1 1029150 1500 5721870000
######
1 1 4087050 1500 0
######

In [0]:
df.head()

   strik  calloi   putoi  helpcall  helpput
0   8100    2700  281925         0     6600
1   8150       0       0        50     6550
2   8200     375    1875       100     6500
3   8250       0       0       150     6450
4   8300   84450  594000       200     6400

In [0]:
df.tail()

     strik  calloi  putoi  helpcall  helpput
120  14300       0      0      6200      400
121  14400    1800      0      6300      300
122  14500   46650  26100      6400      200
123  14600       0      0      6500      100
124  14700   11700      0      6600        0

In [0]:
df.to_excel('output.xlsx')

In [0]:
from google.colab import files
files.download('output.xlsx')