<a href="https://colab.research.google.com/github/jesvin1/Basics/blob/master/TimeSeries_Finance_Udemy_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Predictive Power Score
https://towardsdatascience.com/rip-correlation-introducing-the-predictive-power-score-3d90808b9598

In [1]:
!pip install ppscore

Collecting ppscore
  Downloading https://files.pythonhosted.org/packages/4d/0f/32b991b05f392ca2f86587972f5d94d86ea7d6fdb659a607c52a67dbcfcd/ppscore-0.0.2.tar.gz
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py) ... done
  Created wheel for ppscore: filename=ppscore-0.0.2-py2.py3-none-any.whl size=9629 sha256=68d7ffa6b3ec3f2e16e50df43fd05cf53795aacff06aa009871ab4bd1a6fdbed
  Stored in directory: /root/.cache/pip/wheels/29/32/a2/82782fc09f5cd68e401ff047201d38af8965fb94984db18aa5
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-0.0.2

In [17]:
import fix_yahoo_finance as yf
import datetime as datetime
import ppscore as pps
stocks = ['^GSPC','^GDAXI','^FTSE','^N225','^NSEI']
start = datetime.datetime(2000,1,1)
end = datetime.datetime(2020,5,1)
data = yf.download(stocks, start=start, end=end)

[*********************100%***********************]  5 of 5 downloaded

In [26]:
df = data.copy()
df.tail()

                   Open                ...    Volume
                  ^FTSE        ^GDAXI  ...     ^N225     ^NSEI
Date                                   ...
2020-04-27  5752.200195  10551.070313  ...   77600.0  512800.0
2020-04-28  5846.799805  10658.469727  ...   68600.0  614500.0
2020-04-29  5958.500000  10812.740234  ...       NaN  653000.0
2020-04-30  6115.299805  11195.209961  ...  103400.0  931200.0
2020-05-01          NaN           NaN  ...   86600.0       NaN

[5 rows x 30 columns]

In [27]:
df = df.drop(['Low','Open','High','Close'],axis =1)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [28]:
df.tail()

              Adj Close                ...    Volume
                  ^FTSE        ^GDAXI  ...     ^N225     ^NSEI
Date                                   ...
2020-04-27  5846.799805  10659.990234  ...   77600.0  512800.0
2020-04-28  5958.500000  10795.629883  ...   68600.0  614500.0
2020-04-29  6115.299805  11107.740234  ...       NaN  653000.0
2020-04-30  5901.200195  10861.639648  ...  103400.0  931200.0
2020-05-01          NaN           NaN  ...   86600.0       NaN

[5 rows x 10 columns]

In [6]:
df.describe()

         Adj Close                ...         Volume
             ^FTSE        ^GDAXI  ...          ^N225         ^NSEI
count  5122.000000   5156.000000  ...    4981.000000  3.078000e+03
mean   5892.921162   7497.405995  ...  106943.264405  1.334011e+05
std    1019.046486   2912.620329  ...   63245.845374  1.692663e+05
min    3287.000000   2202.959961  ...       0.000000  0.000000e+00
25%    5209.100098   5286.515015  ...   67900.000000  0.000000e+00
50%    5955.099853   6881.385010  ...  110400.000000  1.273000e+05
75%    6653.800171   9831.614990  ...  143500.000000  1.966000e+05
max    7877.500000  13789.000000  ...  595200.000000  1.811000e+06

[8 rows x 10 columns]

In [29]:
df.isna().sum()

Adj Close  ^FTSE      169
           ^GDAXI     135
           ^GSPC      178
           ^N225      310
           ^NSEI     2213
Volume     ^FTSE      169
           ^GDAXI     135
           ^GSPC      178
           ^N225      310
           ^NSEI     2213
dtype: int64